html {
  scroll-behavior: smooth;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

body{
  background-color: #14161A;
}

.box span{
  background-color: #404348;
}
.box span.active{
  background-color: #5C61F0;
}

*:focus {
  outline: none;
}